.barContainer {
  background-color: var(--tw-bg-opacity, #e5e7eb); /* เทาอ่อน */
}

.barFill {
  height: 100%;
  width: var(--bar-width);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  border-radius: 0.5rem;
  transition: width 1s ease-out;
}

/* โหมดสว่าง */
.light {
  background-color: #3b82f6; /* น้ำเงิน */
}

/* โหมดมืด */
.dark {
  background-color: #60a5fa; /* น้ำเงินอ่อน */
}
